html, body {
    margin:0;
    padding:0;
    font-family: Roboto;
}
html {
    height:100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    padding-top:5rem;
    padding-bottom:5rem;
    min-height:100%;
}


body > header {
    position: absolute;
    left:0;
    right:0;
    top:0;
    height:5rem;
    padding:1rem;
    line-height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    font-style: bold;
    color:#fff;
    background: #464646;
    text-shadow:#000 1px 1px 2px;
    overflow: hidden;
}

body > nav {
    position: absolute;
    width:23%;
    left:0;
    bottom:5rem;
    top:5rem;
    background: #af0;
    padding:0.5rem;
    -webkit-transition: left .3s;
    -moz-transition: left .3s ;
    -ms-transition: left .3s ;
    -o-transition: left .3s ;
    transition: left .3s ;
}
body > nav > div {
    padding: 2rem 1rem 0 1rem;
    text-align: center;
    font-weight: bold;
}
body > nav > ul {
    padding-left:1em;
}
body > nav > ul > li > ul {
    padding-left:1em;
}
body > nav > span.icon {
    position: absolute;
    top:0;
    right:0;
    font-size:2rem;
    padding:0.5rem;
    cursor:pointer;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s ;
    -ms-transition: transform .3s ;
    -o-transition: transform .3s ;
    transition: transform .3s ;
/*    animation:lr 2s infinite ease-in-out;    disabled*/
}

body > main {
    margin-left:23%;
    width:77%;
    background: rgba(0,255,0,0.5);
    padding:1rem;
    -webkit-transition: width, margin .3s, .3s;
    -moz-transition: width, margin .3s, .3s ;
    -ms-transition: width, margin .3s, .3s ;
    -o-transition: width, margin .3s, .3s ;
    transition: width, margin .3s, .3s;
	overflow:auto;
}


body > footer {
    position: absolute;
    right:0;
    bottom:0;
    left:0;
    padding:1rem;
    font-size: 1rem;
    background: #fa0;
}
body > footer div {
    float:right;
}

*[to] {
    cursor: pointer;
}
@keyframes lr {
    0% {
        -webkit-transform: translate(0%);
        -moz-transform: translate(0%);
        -ms-transform: translate(0%);
        -o-transform: translate(0%);
        transform: translate(0%);
    }
    50% {
        -webkit-transform: translate(-15%);
        -moz-transform: translate(-15%);
        -ms-transform: translate(-15%);
        -o-transform: translate(-15%);
        transform: translate(-15%);
    }
    100% {
        -webkit-transform: translate(0%);
        -moz-transform: translate(0%);
        -ms-transform: translate(0%);
        -o-transform: translate(0%);
        transform: translate(0%);
    }
}

body > warn {
    display:block;
    text-align:center;
    position:absolute;
    z-index:1000;
    color:black;
    font-size:40px;
    background:#fff;
    width:100%;
    height:100%;
}
body > warn small {
    font-size:16px;
}